In [17]:
import pandas as pd

In [18]:
selloutData = pd.read_csv("../dataset/kopo_channel_seasonality_new.csv")

In [19]:
allcolumns = list(selloutData.columns)

In [20]:
i = 0

In [21]:
for i in range(0,len(allcolumns)):
    selloutData[ allcolumns[i] ] = selloutData[ allcolumns[i] ].astype(str)

In [22]:
selloutData.QTY = selloutData.QTY.astype(float)

In [40]:
kopo_customerData = pd.read_csv("../dataset/kopo_customerdata.csv")

DataColumns = list(kopo_customerData.columns)

targetColumns = ['STATENAME', 'GENDER']

kopo_customerData.loc[:,targetColumns][0:5]

  STATENAME  GENDER
0    State2    Male
1    State2    Male
2    State2  Female
3    State2    Male
4    State2    Male

In [47]:
import numpy as np

## 데이터 정렬하기

In [165]:
customerData = pd.read_csv("../dataset/customerdata.csv")

In [171]:
#sortKey = ["AVGPRICE"]
sortKey = ["EMI", "AVGPRICE"]

In [173]:
#customerData.sort_values(by=sortKey, ascending=False) # by : 작은거부터 정렬 , ascending=False : 큰거부터 정렬
sortedData = customerData.sort_values(by=sortKey, ascending=[True,False])

In [174]:
sortedData

     CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE          CUSTTYPE
56   K10712  3419.462596    1            4    2.825790      Sleeping-dog
72   O13037  3398.216334    1            4    2.994395      Sleeping-dog
46   I14835  3374.091339    1            4    2.749678      Sleeping-dog
65   M16452  3353.537290    1            4    1.940357      Sleeping-dog
11   C18622  3246.000000    1            5    1.891624  Big-Screen-lover
..      ...          ...  ...          ...         ...               ...
27   F17131  3179.708359    3            6    1.100000        Early-bird
53   J16445  3041.848186    3            6    0.800000        Early-bird
45   I12899  3018.895637    3            6    0.900000        Early-bird
135  X13390  2947.543982    3            6    1.100000        Early-bird
52   J15083  2811.265932    3            6    0.900000        Early-bird

[150 rows x 6 columns]

## np.where 활용 데이터 조작

### productage < 1로 변경하고 그 외에는 기존값을 쓴다

In [51]:
customerData["PRODUCTAGE_NEW"] = \
    np.where(customerData.PRODUCTAGE < 1, 1, customerData.PRODUCTAGE)

In [61]:
customerData.loc[ (customerData.PRODUCTAGE >= 1) &
                  (customerData.PRODUCTAGE_NEW != customerData.PRODUCTAGE) ]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, PRODUCTAGE_NEW]
Index: []

#### productage 1보다 작은 경우 1
#### productage 1보다 크면서 2보다 작은경우 2
#### productage 이외는 3

In [66]:
np.where(customerData.PRODUCTAGE < 1 , 1,
         np.where(customerData.PRODUCTAGE < 2, 2, 3))

array([2, 3, 3, 1, 3, 3, 1, 3, 3, 3, 3, 2, 3, 1, 3, 3, 3, 3, 3, 3, 3, 2,
       2, 1, 1, 3, 2, 2, 3, 3, 1, 3, 3, 2, 3, 3, 2, 1, 1, 2, 1, 2, 3, 3,
       1, 1, 3, 3, 1, 3, 3, 1, 1, 1, 3, 1, 3, 2, 3, 3, 2, 2, 1, 3, 2, 2,
       3, 2, 2, 2, 3, 1, 3, 3, 2, 3, 3, 1, 1, 2, 1, 3, 1, 3, 1, 3, 3, 1,
       3, 3, 3, 3, 3, 3, 2, 1, 2, 2, 2, 2, 3, 3, 3, 3, 2, 1, 2, 3, 3, 3,
       3, 3, 3, 2, 3, 3, 3, 1, 3, 3, 3, 3, 3, 3, 3, 1, 1, 2, 3, 3, 2, 2,
       1, 1, 2, 2, 3, 3, 3, 3, 3, 3, 1, 1, 3, 3, 1, 3, 2, 2])

## loc 활용 데이터 조작

In [75]:
customerData.loc[ customerData.PRODUCTAGE <= 1, "NEW_AGE"] = 1
customerData.loc[ (customerData.PRODUCTAGE > 1) &
                  (customerData.PRODUCTAGE <= 2), "NEW_AGE"] = 2
customerData.loc[ customerData.PRODUCTAGE > 2, "NEW_AGE"] = 3

In [74]:
customerData.loc[ (customerData.PRODUCTAGE >= 1) &
                  (customerData.PRODUCTAGE == customerData.NEW_AGE) ]

Empty DataFrame
Columns: [CUSTID, AVGPRICE, EMI, DEVICECOUNT, PRODUCTAGE, CUSTTYPE, PRODUCTAGE_NEW, NEW_AGE]
Index: []

##  함수적용 해서 데이터를 조작

In [84]:
def valuechange(inValue):
    #testValue = inValue
    #inValue = 1.5
    outValue = 0

    if inValue < 1:
        outValue = 1
    elif inValue < 2:
        outValue = 2
    else:
        outValue = 3
    return outValue

In [102]:
customerData["HK_NEW2"] = customerData.PRODUCTAGE.apply(valuechange)

In [103]:
customerData["NEW222"] = customerData.CUSTID+"_"+customerData.CUSTTYPE

In [106]:
customerData["NEW223"] = customerData.CUSTID.str[0:3]+"_"+customerData.EMI.astype(str)

In [107]:
customerData

,CUSTID,AVGPRICE,EMI,DEVICECOUNT,PRODUCTAGE,CUSTTYPE,PRODUCTAGE_NEW,NEW_AGE,HK_NEW2,NEW222,NEW223
0,A13566,4273.900000,3,6,1.679181,Big-Screen-lover,1.679181,2.0,2,A13566_Big-Screen-lover,A13_3
1,A14219,3642.441950,2,4,2.682023,Sleeping-dog,2.682023,3.0,3,A14219_Sleeping-dog,A14_2
2,A15312,3653.884565,2,5,3.208202,Sleeping-dog,3.208202,3.0,3,A15312_Sleeping-dog,A15_2
3,A16605,3713.211107,2,6,0.900000,Early-bird,1.000000,1.0,1,A16605_Early-bird,A16_2
4,B10634,3391.074215,2,4,2.453656,Sleeping-dog,2.453656,3.0,3,B10634_Sleeping-dog,B10_2
...,...,...,...,...,...,...,...,...,...,...,...
145,Z13253,3678.800000,2,5,2.463670,Big-Screen-lover,2.463670,3.0,3,Z13253_Big-Screen-lover,Z13_2
146,Z13534,3662.437527,3,6,0.900000,Early-bird,1.000000,1.0,1,Z13534_Early-bird,Z13_3
147,Z16428,3516.500000,2,5,2.371301,Big-Screen-lover,2.371301,3.0,3,Z16428_Big-Screen-lover,Z16_2
148,Z16735,3300.100000,2,5,1.704942,Big-Screen-lover,1.704942,2.0,2,Z16735_Big-Screen-lover,Z16_2
149,Z19835,3326.526183,2,6,1.200000,Early-bird,1.200000,2.0,2,Z19835_Early-bird,Z19_2

In [156]:
selloutData.loc[selloutData.QTY < 0] = 0

In [157]:
selloutData["YEAR"] = selloutData.YEARWEEK.str[0:4]
selloutData["WEEK"] = selloutData.YEARWEEK.str[4:6]

In [158]:
exceptWeek = "53"

In [159]:
refinedData = \
    selloutData.loc[ selloutData.WEEK != exceptWeek ]

In [160]:
refinedData.shape

(124658, 6)